/*Common CSS*/
body {
    margin: 0px;
    font-family: Calibri;
    font-size: 13px;
    color: #5d5d5d;
   
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.cleaner {
    clear: both;
}
.display-inline {
    display: inline-block;
}
.margin-zero {
    margin: 0px;
}
/*Master Page CSS*/
#MasterBody .mainBodyContainer {
    margin: 0px 20px;
}
#MasterBody .ContainWrapper {
    min-width: 980px;
    /*width: 980px;*/
    margin: 0 auto;
    /*background-color: orchid;*/
}
#MasterBody .notice-wrapper {
    display: inline-block;
    min-width: 930px;
    max-width: 96%;
}
#MasterBody .Header-Container {
    padding: 0 25px 0 25px;
    /*background-color: red;*/
}
#MasterBody .Banner-Container {
    /*margin-top: 10px;*/
}
#MasterBody .loginStatusPanel {
    margin-top: 5px;
    text-align: right;
    font-size: 12px;
}
#MasterBody .loginStatusPanel .StatusPanelContainer {
    margin-top: 5px;
}
    #MasterBody .loginStatusPanel .StatusPanelContainer .StatusPanel #ctl00_lblAvatarName {
        display: inline-block;
        margin: 6px 0px;
        letter-spacing: 1px;
        word-spacing: 3px;
        font-weight: bold;
        color: #1d0909;
    }
    #MasterBody .loginStatusPanel .StatusPanelContainer .StatusPanel #ctl00_lbtnUserName {
        color: #1f6c14;
    }
    #MasterBody .loginStatusPanel .StatusPanelContainer .AvatarStatusPanel #ctl00_imgAvatar {
        height: 80px;
        width: 70px;
        margin-left: 5px;
    }
#MasterBody .loginStatusPanel .StatusPanel {

}
#MasterBody .loginStatusPanel .AvatarStatusPanel {
    
}
    #MasterBody .loginStatusPanel .semesterStatusLabel {
        display: inline-block;
        width: 110px;
        text-align: right;
        color: #1f6c14;
        font-weight: bolder;
        letter-spacing: 1px;
    }
    #MasterBody .loginStatusPanel .semesterStatusLabel1 {
        display: inline-block;
        width: 110px;
        text-align: right;
        color: #cf6c6c;
        font-weight: bolder;
        letter-spacing: 1px;
    }
    #MasterBody .loginStatusPanel .semesterStatus {
        display: inline-block;
        text-align: end;
        font-weight: bold;
        margin-left: 12px;
        color: #cf6c6c;
    }
    #MasterBody .loginStatusPanel .semesterStatus1 {
        display: inline-block;
        text-align: end;
        font-weight: bold;
        margin-left: 12px;
        color: #1f6c14;
    }
#MasterBody .loginStyle {
    cursor: pointer;
    display: inline-block;
    width: 300px;
    text-align: right;
    padding-right: 3px;
    color: #5d5d5d;
    text-decoration: none;
    
}
#MasterBody .logoutStyle {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    text-align: right;
    color: #5d5d5d;
    text-decoration: none;
}
    #MasterBody .loginStyle:hover, #MasterBody .logoutStyle:hover {
        font-weight: bold;
    }

/*Menu*/
#MasterBody .navMenu {
    background-color: #4CA1D7 !important;
    /*height: 40px;*/
    /*border-bottom: 3px solid #0d6e7b;*/
    margin-top: 5px;
}
#MasterBody .navMenu .staticHome {
        list-style: none;
        display: inline-block;
        float: left;
        padding: 0px;
    }
    #MasterBody .navMenu .staticHome li a {
        cursor: pointer;
        /*height: 28px;*/
        padding: 15px 30px 15px 30px;
        color: white;
        text-decoration: initial;
        font-weight: bold;
    }
        #MasterBody .navMenu .staticHome li a:hover {
            color: white;
            background-color: #4CA1D7;
            border-radius: 2px 2px 2px 2px;
            -moz-border-radius: 2px 2px 2px 2px;
            -webkit-border-radius: 2px 2px 2px 2px;
            border: 0px solid #000000;
            transition: all 500ms ease-in-out;
        }
    #MasterBody .navMenu a img {
        display: none;
    }
    #MasterBody .navMenu #ctl00_menuMain tr td table tr td a {
        padding: 0 20px;
        cursor: pointer;
        height: 50px;
        padding-top: 12px;
        color: white;
        display: inline-block;
    }
    #MasterBody .navMenu #ctl00_menuMain tr td table tr td img {
        display: none;
    }
    #MasterBody .navMenu #ctl00_menuMain tr td table tr td a:hover {
        color: white;
        background-color: #4CA1D7;
        border-radius: 2px 2px 2px 2px;
        -moz-border-radius: 2px 2px 2px 2px;
        -webkit-border-radius: 2px 2px 2px 2px;
        border: 0px solid #000000;
        transition: all 500ms ease-in-out;
    }
    #MasterBody .navMenu > div {
        background-color: #4CA1D7;
        box-shadow: 0 0 10px 1px rgb(0, 0, 0);
    }
        #MasterBody .navMenu > div tr td a {
            padding: 0 20px;
            cursor: pointer;
            height: 40px;
            padding-top: 12px;
            color: white;
            display: inline-block;
            width: 100%;
        }
            #MasterBody .navMenu > div tr td a:hover {
                color: white;
                background-color: #4CA1D7;
                transition: all 300ms ease-in-out;
            }
/*navMenu*/

/*Footer*/
#MasterBody .footer {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border-top: 1px solid #0d6e7b;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
/*Footer*/

/*Message and Page Title*/
.ContainWrapper .Message-Area {
    margin-top: 10px;
    margin-bottom: 0px;
    border-top: 1px solid #a2df86;
    border-bottom: 1px solid #a2df86;
    background-color: #f9f9f9;
    padding: 3px;
}
.ContainWrapper .Message-Area .msgTitle {
    font-weight: bold;
    font-size: 9pt;
}
.ContainWrapper .Message-Area #ctl00_MainContainer_lblMsg {
    color: red;
}

.ContainWrapper .PageTitle {
    margin-top: 10px;
}
.ContainWrapper .PageTitle label {
    color: black;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

/*login page div gradient*/

.gradient_div {
    width:100%;margin: 150px auto;border: 0px solid #B5C7DE;text-align: left; padding-bottom: 4px;
    background: -webkit-radial-gradient(red, green, blue); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(red, green, blue); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(red, green, green); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#c1e6b2, #d0f0c3, #defad2); /* Standard syntax (must be last) */
}

.Padding {
    padding: 0 10px 0 10px;
}

input.button{
	    color: #127817;   
	    font-weight:normal;    
        font-size: 9pt;
        font-family: Tahoma;				    
        vertical-align: middle;	 		
        border: solid 1px #fab564;	
        background: #eab434 50% top;
        padding: 1px 1px 1px 1px;
	    cursor: pointer;
	    margin-right: 0px;
        margin-left: 0px;
        }
        input.button:hover{
	    background: #B5D7DB top;	
	    border: solid 1px #71ACB4;	
        }

        /*edited by jahid*/
        hr {
        color: #74c166;
        background-color: #0d6e7b;
        height: 1px;
        border: 0px solid;
        }

.pointer {
    cursor: pointer;
}

.rdlc_center {
    margin: 0 auto;
    padding: 10px;
}