<?xml version="1.0"?>
<connectionStrings>
  <add name="Connection String"
       connectionString="Data Source=DESKTOP-9EPFAET;Initial Catalog=PABNA; User ID=sa; Password=Qaz123"
       providerName="System.Data.SqlClient"/>

  <add name="ConnectionLoG"
      connectionString="Data Source=DESKTOP-9EPFAET; Initial Catalog=MBSTU_LOG; User ID=sa; Password=Qaz123"
      providerName="System.Data.SqlClient"/>
  
  <add name="PABNA_UCAMEntities" connectionString="metadata=res://*/UCAMModel.csdl|res://*/UCAMModel.ssdl|res://*/UCAMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9EPFAET;initial catalog=PABNA;user id=sa;password=Qaz123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>
