/* Global Styles */

body {
	/*background-color:#FDE1F8;
	font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color:#000000;*/

    background-color: #D3DCE6;/*#FFFFCC;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #000066;
}
th {
	font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color:#333333;
}
td {
	font:11px Tahoma,Arial, Helvetica, sans-serif;
	color:#666666;
	vertical-align:top;
	font-size: 12px;
	text-align:left;
	}
form {
	background-color: #D3DCE6;
	color: #000080;
}	
input.big {
	width: 100px;
}

input.small {
	width: 50px;
}
input
{
	font-weight:normal;    
    font-size: 9pt;
    font-family: Tahoma;
    border: solid 1px #B2BCBE;
}
input.button{
	color: #000000;   
	font-weight:normal;    
    font-size: 9pt;
    font-family: Tahoma;				    
    vertical-align: middle;	 		
    border: solid 1px #B2BCBE;	
    background: #99CCFF top;
    padding: 1px 1px 1px 1px;
	cursor: pointer;
	width: 75px;
	height:35px;
}
input.button:hover{
	background: #B5D7DB top;	
	border: solid 1px #71ACB4;	
}

a {
	color: #CC0099;
	font-weight:bold;    
    font-size: 11pt;
    font-family: Tahoma;
}
 
select
{
	font-weight: normal;
	font-size: 9pt;
	font-family: Tahoma;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	text-align: center;
	vertical-align: top;
	padding-bottom: 3px;
}
.spiners
{
	/*padding-top:6px;*/
}	
a:hover {
	color: #FF33CC;
	font-weight:bold;    
    font-size: 11pt;
    font-family: Tahoma;
    background-color: White;
}

/* ID Styles */

#navigation td {
	border-bottom: 1px solid #F4FFE4;
	}
	
#navigation a {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #CC0099;
	line-height: 16px;
	letter-spacing: .1em;
	text-decoration: none;
	display: block;
	padding: 8px 6px 10px 20px;
}
	
#navigation a:hover {
	background: #99CCFF;
	color: #FF33CC;
}
	
#logo 	{
	font: 24px Arial, Helvetica, sans-serif;
	color: #003366;
	letter-spacing: .2em;
	line-height: 30px;
}

#tagline 	{
	font: 11px Arial, Helvetica, sans-serif;
	color: #993366;
	letter-spacing: .4em;
	line-height: 18px;
}

#monthformat {
	border-bottom: 1px dashed #5C743D;
	}
		
#dateformat {
	font: 11px Arial, Helvetica, sans-serif;
	color: #993366;
	letter-spacing: .2em;
}
	
#dateformat a {
	font: 11px Arial, Helvetica, sans-serif;
	color: #993366;
	font-weight: bold;
	letter-spacing: .1em;
	text-decoration: none;
}
	
#dateformat a:hover {
	color: #FF99CC;
	letter-spacing: .1em;
}
	
/* Class Styles */
	
.bodyText {
	font:11px Arial, Helvetica, sans-serif;
	color:#666666;
	line-height:20px;
	margin-top:0px;
	}
	
.pageName{
	font: 18px Arial, Helvetica, sans-serif;
	color: #3399FF;
	line-height: 26px;
	letter-spacing: .21em;
}
	
.subHeader {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #993366;
	line-height: 22px;
	letter-spacing: .2em;
}

.quote {
	font: 20px Arial, Helvetica, sans-serif;
	color: #FF99CC;
	line-height: 30px;
}
	
.smallText {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 22px;
	}
	
.navText {
	font: 11px Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
 background-color: #99CC00; color: #003333;}

.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 30px;
 color: #003300;}

.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-color: #669900;
 color: #FFFF33;
}

.nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	background-color: #CCFF99;
}

.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #DEDECA;
}

.sidebar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	padding: 3px;
	background-color: #FFFFCC;
 color: #003333;
}

.sidebarHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #003300;
	background-color: #FFFF66;
}

.sidebarFooter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #FFFF99;
 font-style: italic;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #CCFF99;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-width: thin;
	border-color: #99FF99 #003300 #003300 #99FF99;
 border-style: double;
 }

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
	background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
 color: #660000; font-weight: bolder; font-size: medium;
 }
	
.tr {
	border-style:solid;
	border-color:Blue; 
	border-width:1px;
}
.th {
	position:fixed;
	background-color:#003399;
}

.td {
	font:11px Arial, Helvetica, sans-serif;
	color:#666666;
	vertical-align:Middle;
	border-style:solid; 
	border-color:Blue; 
	border-width:1px;
}
.tbcolor
{
	background-color:#87C7DC;	
}
/*====================================================== */
/*             Classes Used in Tree                      */
/*====================================================== */
.TreeNodeSelected
{
	color: Lime;
}

/*====================================================== */
/*             DptSetUp Specific Used in Tree                      */
/*====================================================== */
.cgpa
{
    width:143px;
}
.creditlimit
{
    width:78px;
}
.name
{
    width:231px;
}

/*====================================================== */
/*             Locality Specific Used in Tree                      */
/*====================================================== */
.loccgpa
{    
    background-color: #CCCCFF;
    color: Black;/* #FFFFFF;*/
    text-align: center;
    font-weight: bold;
}
.loccreditlimit
{
    background-color:#CCCCFF;/*#8000FF;*/
   	color: Black;/* #FFFFFF;*/
    text-align:center;
    font-weight: bold;
}
.locname
{
    width:190px;
    background-color : Olive ;/*#8000FF;*/
	color: #FFFFFF;
    text-align:center;
    font-weight: bold;
}

/*====================================================== */
/*             Mandatory Specific Used in Tree                      */
/*====================================================== */
.mancgpa
{
	width: 125px;
	background-color: #CCCCFF;/*#8000FF;*/
	color: Black;/* #FFFFFF;*/
	text-align: center;
	font-weight: bold;
}
.mancreditlimit
{
	width: 60px;
	background-color: #CCCCFF;/*#8000FF;*/
	color: Black;/* #FFFFFF;*/
	text-align: center;
	font-weight: bold;
}
.manname
{
	background-color: Olive;/* #8000FF;*/
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}

/*====================================================== */
/*             Maximum Specific Used in Tree                      */
/*====================================================== */
.maxcgpa
{
	width: 125px;
	background-color: #CCCCFF;/*#8000FF;*/
	color: Black;/* #FFFFFF;*/
    text-align:center;
    font-weight: bold;

}
.maxcreditlimit
{
    width:40px;
	background-color: #CCCCFF;/*#8000FF;*/
	color: Black;/* #FFFFFF;*/
    text-align:center;
    font-weight: bold;
}
.maxname
{
    width:190px;
	background-color: Olive;/* #8000FF;*/
	color: #FFFFFF;
    text-align:center;
    font-weight: bold;
}

.retakeLimit
{
    background-color: #006699;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}